<div class="user-edit">
    <h1 class="page-title">ユーザー情報編集</h1>
    <br></br>
    <!--ユーザー編集フォーム-->
    <%= form_with @user, url: {controller: "user", action: "update"}, multipart: true do |form| %>
    <div class="user-edit-form">
        <%= form.label :name %>
        <%= form.text_field :name, @user.name %>
        <br></br>
        <%= form.label :email %>
        <%= form.email_field :email, @user.email %>
        <br></br>
        <%= form.label :url, "URL(Twitterなど)" %>
        <%= form.text_field :url, @user.url %>
        <br></br>
        <%= form.label :content %>
        <%= form.text_area :content, @user.content %>
        <br></br>
        <%= form.label :password %>
        <%= form.password_field :password %>
        <br></br>
        <%= form.label :password_confirmation, "パスワード(確認用)" %>
        <%= form.password_field :password_confirmation %>
        <br></br>
        <%= form.label :image, "プロフィール画像" %>
        <div class="edit-profile-img">
            <%= form.file_field :image %>
        </div>
        <br></br>
        <%= form.submit "更新", class: "btn btn-primary" %>
    </div>
    <% end %>
        <br></br>
        <div class="user-edit-link">
            <%= link_to("ユーザー詳細画面へ戻る", "/blogs/user/#{@user.id}", class: "btn btn-success") %>
        </div>
    <br></br>
</div>