<div class="login">
    <h1 class="page-title">ログイン</h1>
    <br></br>
        <!--エラーメッセージ-->
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

    <br></br>
    <!--ログインフォーム-->
    <%= form_with model: @user, url: (controller: "user", action: "login"), local: true, method: :post do |form| %>
        <div class="login-form">
            <%= form.label :email %>
            <%= form.text_field :email %>
            <br></br>
            <%= form.label :password %>
            <%= form.password_field :password %>
            <br></br>
            <%= form.submit "ログイン", class: "btn btn-primary" %>
        </div>
    <% end %>
    <br></br>
</div>