<div class="login">
    <h1 class="page-title">ログイン</h1>
    <br></br>
        <!--エラーメッセージ-->
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

    <br></br>
    <!--ログインフォーム-->
    <%= form_tag(controller: "user", action: "login") do %>
        <div class="login-form">
            <%= label_tag :メールアドレス %>
            <%= text_field_tag :email, @email %>
            <br></br>
            <%= label_tag :パスワード %>
            <%= password_field_tag :password, @password %>
            <br></br>
            <%= submit_tag :ログイン, class: "btn btn-primary" %>
        </div>
    <% end %>
    <br></br>
</div>