<div class="signup">
    <h1>ユーザー登録</h1>

    <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
            <ul>
                <li><%= message %></li>
            </ul>
        </div>
    <% end %>

    <%= form_tag({controller: "user", action: "create"}, {multipart: true}) do %>
        <div class="signup-form">
            <%= label_tag :ユーザー名%>
            <%= text_field_tag :name %>
            <br></br>
            <%= label_tag :メールアドレス %>
            <%= email_field_tag :email %>
            <br></br>
            <%= label_tag :パスワード %>
            <%= password_field_tag :password %>
            <br></br>
            <%= label_tag :パスワード確認用 %>
            <%= password_field_tag :password_confirmation %>
            <br></br>
            <%= label_tag :プロフィール画像 %>
            <%= file_field_tag :image %>
            <br></br>
            <%= submit_tag "登録" %>
        </div>
    <% end %>
</div>