<div class="user-show">
    <h1>ユーザー詳細</h1>
    <p>ユーザー名</p>
    <p><%= @user.name %></p>
    <div>
        <% if @user.image.url %>
            <%= image_tag @user.image.url, class: "profile-image" %>
        <% end %>
    </div>
    
    <div class="user-show-link">
        <% if @user.id == @current_user.id %>
            <%= link_to("編集", "/blog/user/edit/#{@user.id}", class: "user-edit-link") %>
        <% end %>
        <br></br>
        <%= link_to("ブログ一覧へ", "/blog/index") %>
        <br></br>
        <%= link_to("ユーザー一覧へ", "/blog/user/index") %>
    </div>
</div>
