<div class="user-show">
    <h1 class="user-show-title"><%= @user.name %></h1>
    <div>
        <% if @user.image.url %>
            <%= image_tag @user.image.url, class: "profile-image" %>
        <% end %>
        <br></br>
    </div>
        <% if @user.url != nil %>
            <p>URL: <%= link_to(@user.url, @user.url) %></p>
        <% end %>
            <br></br>
            <p>自己紹介</p>
            <%= @user.content %>
    <br></br>
            <table class="user-show-blog-title">
                <tr>
                    <th class="user-show-blog-title">
                        ブログ一覧
                    </th>
                </tr>
                    <% @posts.each do |post| %>
                        <% if post&.user_id == @user&.id %>
                            <tr>
                                <td>
                                    <%= link_to(post.title, "/blogs/show/#{post.id}") %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
            </table>
    <br></br>
    <div class="user-show-link">
        <% if @user&.id == @current_user&.id %>
            <%= link_to("編集", "/blogs/user/edit/#{@user.id}") %>
        <% end %>
        <br></br>
        <%= link_to("ブログ一覧へ", "/blogs", class: "user-show-link") %>
        <%= link_to("ユーザー一覧へ", "/blogs/users", class: "user-show-link") %>
    </div>
    <br></br>
    <%= paginate @posts %>
</div>

