<div class="blog-index">
    <h1 class="page-title">ブログ一覧</h1>
    <br></br>
    <!--検索フォーム-->
    <%= search_form_for @q, :url => { :controller => :blog, :action => :index } do |f| %>
      <%= f.label :title_or_genre_or_user_name, "ブログ名、ジャンル名、ユーザー名で検索", class: "blog-search-form" %>
      <%= f.search_field :title_or_genre_or_user_name_cont %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    <br></br>
    <!--並び替えリンク-->
    <tr>
        <th><%= sort_link(@q, :title, "タイトル") %></th>
        <th>    </th>
        <th><%= sort_link(@q, :genre, "ジャンル") %></th>
        <th>    </th>
        <th><%= sort_link(@q, :user_name, "作成者") %></th>
        <th>    </th>
        <th><%= sort_link(@q, :created_at, "作成日") %></th>
    </tr>
    <br></br>
        <!--ブログ一覧-->
        <table class="blog-title">
            <% @posts.each do |post| %>
            <tr>
                <td><%= link_to(post.title, "/blogs/show/#{post.id}", class: "blog-index-link") %></td>
                <td class="blog-genre"><%= post.genre %></td>
                <td class="blog-user_name"><%= link_to(post.user_name, "/blogs/user/#{post.user_id}", class: "blog-index-link") %></td>
                <td class="blog-created_at"><%= post.created_at.strftime("%Y年%m月%d日") %></td>
                <% if post.user_id == @current_user&.id %>
                <td><%= link_to("編集", "/blogs/update/#{post.id}", class: "blog-index-link btn btn-success") %></td>
                <td><%= link_to("削除", "blogs/delete/#{post.id}", class: "blog-index-link btn btn-danger") %></td>
                <% end %>
            </tr>
            <% end %>
        </table>
    <br></br>
        <!--ブログ一覧ページ表示-->
        <%= paginate @posts %>
</div>
    <br></br>