<div class="blog-create">
    <h1 class="page-title">ブログ作成</h1>
        <br></br>
    <!--エラーメッセージ-->
    <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
            <ul>
                <li><%= message %></li>
            </ul>
        </div>
    <% end %>
    <!--ブログ作成フォーム-->
    <%= form_with model: @post, url: {controller: "blog", action: "create"}, local: true, method: :post do |form| %>
            <%= form.label :title%>
            <%= form.text_field :title %>
            <br></br>
            <%= form.label :genre%>
            <%= form.text_field :genre %>
            <br></br>
            <p class="alert">※画像サイズによっては、画像が正しく表示されないことがあります。</p>
            <div class="blog-content-form">
                <%= form.rich_text_area :content %>
            </div>
            <br></br>
            <%= form.submit "ブログ作成", class: "btn btn-primary" %>
    <% end %>
        <br></br>
    <%= link_to("ブログ一覧に戻る", "/blogs", class: "btn btn-success") %>
</div>
<br></br>