<div class="blog-show">
    <h1 class="page-title"><%= @post&.title %></h1>
    <br></br>
    <!--ブログ情報-->
    <table class="user-link-table">
        <tr>
            <td class="user-link">ジャンル</td>
            <td class="user-link"><%= @post&.genre %></td>
            <td class="user-link"><%= link_to(@user&.name, "/blogs/user/#{@user&.id}") %></td>
            <td class="user-link">
                <% if @user&.image? %>
                    <%= image_tag @user.image.url, class: "profile-image" %>
                <% else %>
                    <image src="/assets/default.jpg" class="profile-image" alt="ユーザーアイコン" %>
                <% end %>
            </td>
            <td class="user-link"><%= @post&.created_at&.strftime("%Y年%m月%d日") %></td>
        </tr>
    </table>
    <br></br>
    <!--ブログ内容-->
    <div class="blog-content">
        <%= @post&.content %>
    </div>
    <br></br>
    <!-- コメント欄 -->
    <h3 class="page-title">コメント欄</h3>
    <% @comments&.each do |comment| %>
        <p>
        <tr><%= comment&.content %></tr>
        <tr>
                <td><%= comment&.created_at&.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <td><%= comment&.user_name %></td>
        </tr>
        </p>
    <% end %>
    <br></br>
    <% if @comments %>
        <%= paginate @comments %>
    <% end %>
    <br></br>
    <!-- コメント入力欄 -->
    <% if @current_user %>
        <%= form_with model:Comment.new do |form| %>
            <%= form.text_area :content %>
            <%= form.submit %>
        <% end %>
    <% end %>
    <br></br>
    <br></br>
    <!--リンク-->
    <% if @post&.user_id == @current_user&.id %>
        <%= link_to("ブログ編集", "/blogs/update/#{@post.id}",  class: "user-link btn btn-success") %>
        <%= link_to("ブログ削除", "/blogs/delete/#{@post.id}",  class: "user-link btn btn-danger") %>
    <% end %>
    <br></br>
    <%= link_to("ブログ一覧に戻る", "/blogs",  class: "user-link btn btn-success") %>
</div>
<br></br>