<div class="blog-show">
<h1 class="page-title"><%= @post.title %></h1>
<br></br>
<table class="user-link">
    <tr>
        <th>作成者</th>
        <th></th>
        <th>作成日</th>
    </tr>
    <tr>
        <td><%= link_to(@user&.name, "/blogs/user/#{@user&.id}") %></td>
        <td>
            <% if @user&.image? %>
                <%= image_tag @user.image.url, class: "profile-image" %>
            <% else %>
                <image src="/assets/default.jpg" class="profile-image" alt="ユーザーアイコン" %>
            <% end %>
        </td>
        <td><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
    </tr>
</table>
<br></br>
<div class="blog-content">
    <%= @post.content %>
</div>
<br></br>

<% if @post&.user_id == @current_user&.id %>
    <%= link_to("ブログ編集", "/blogs/update/#{@post.id}") %>
    <%= link_to("ブログ削除", "/blogs/delete/#{@post.id}") %>
<% end %>
<%= link_to("ブログ一覧に戻る", "/blogs") %>
</div>
