<div class="blog-update">
    <h1 class="page-title">ブログ編集</h1>
    <br></br>
    <!--ブログ編集フォーム-->
    <%= form_with model: @post, url: {controller: "blog", action: "edit"}, local: true, method: :post do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <br></br>
        <%= form.label :genre %>
        <%= form.text_field :genre %>
        <br></br>
        <div class="blog-form">
            <br></br>
            <%= form.rich_text_area :content %>
        </div>
            <br></br>
            <%= form.submit "編集完了", class: "btn btn-primary" %>
    <% end %>
    <br></br>
    <%= link_to("ブログ詳細へ戻る", "/blogs/show/#{@post.id}", class: "btn btn-success") %>
    <br></br>
</div>