<!DOCTYPE html>
<html>
  <head>
    <title>ブログ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <header>
      <% if @current_user %>
        <div class="link">
          <li><%= link_to("ブログ一覧", "/blog") %></li>
          <li><%= link_to("ユーザー一覧", "/blog/users") %></li>
          <li><%= link_to("ブログ作成", "/blog/create") %></li>
          <% if @current_user.nil? %>
          <% else %>
            <li><%= link_to(@current_user.name, "/blog/user/#{@current_user.id}") %></li>
          <% end %>
          <li><%= link_to("ログアウト", "/user/logout", {method: :post}) %></li>
        </div>
      <% else %>
        <div class="link">
            <li><%= link_to("ブログ一覧", "/blog") %></li>
            <li><%= link_to("ユーザー一覧", "/blog/users") %></li>
            <li><%= link_to("サインアップ", "/blog/signup") %></li>
            <li><%= link_to("ログイン", "/blog/login") %></li>
        </div>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class="flash-message">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <h6>@2020 index_btr</h6>
    </footer>
    </div>
  </body>
</html>
